$desktop-outerGutter: 140px;
$desktop-colWidth: 122px;
$desktop-gutterWidth: 16px;
$desktop-gridCount: 12;
$desktop-pageWidth: 1920px;

$mobile-outerGutter: 26px;
$mobile-colWidth: 38px;
$mobile-gutterWidth: 12px;
$mobile-gridCount: 6;
$mobile-pageWidth: 460px;
$vwMultiplier: 100vw;
